<div class="ad-page">
  <div class="ad">
    <img [src]="ad?.image" />
    <div class="ad__info">
      <div *ngIf="isEditing; else notEditing" class="ad__editing">
        <div class="form-group">
          <label>New Title: </label>
          <input class="form-control" [(ngModel)]="newTitle"/>
        </div>
        <div class="form-group">
          <label>New About: </label>
          <input class="form-control" [(ngModel)]="newAbout"/>
        </div>
      </div>
      <ng-template #notEditing>
        <div class="ad__title">{{ ad?.title }}</div>
        <div class="ad__about">{{ ad?.text }}</div>
      </ng-template>
      <div class="ad__date">{{ ad?.date }}</div>
      <div class="ad__category">Category: {{ ad?.category }}</div>
      <a class="ad__author" [routerLink]='"/users/" + author?.id'>
        <div class="author-avatar">
          <img [src]="author?.avatar">
        </div>
        <p *ngIf="user.id !== ad?.userId; else youAreAuthor">Author: {{ author?.username }}</p>
        <ng-template #youAreAuthor>
          You are author of this ad!
        </ng-template>
      </a>
      <div class="ad__options">
        <div *ngIf="yourAd; else favorite" class="ad__buttons">
          <button class="button button-delete"(click)="onDelete()">DELETE</button>
          <button class="button button-edit" *ngIf="!isEditing" (click)="editSwitcher()">EDIT</button>
          <button class="button button-edit" *ngIf="isEditing" (click)="onEdit()">YES</button>
          <button class="button button-edit" *ngIf="isEditing" (click)="editSwitcher()">NO</button>
        </div>
        <ng-template #favorite>
          <div class="ad__buttons">
            <button class="button button-favorite" (click)="onRemoveFromFavorite()" *ngIf="isFavorited">Remove from Favorites</button>
            <button class="button button-favorite" (click)="onFavorite()" *ngIf="!isFavorited">Add to Favorites</button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="ad__comments">
    <textarea [(ngModel)]="comment" placeholder="Напишите комментарий..."></textarea>
    <button (click)="submitComment()">Отправить</button>
  </div>
  <div class="comment-stack"  *ngIf="ad && ad.comments && ad.comments.length > 0">
    <a class="comment" *ngFor="let comment of ad?.comments"  [routerLink]='"/users/" + comment.user.id'>
      <div class="author-avatar">
        <img [src]="comment.user.avatar" alt="User avatar">
      </div>
      <div class="comment-details">
        <div class="comment-username">{{comment.user.username}}</div>
        <div class="comment-text">{{comment.commentAbout}}</div>
      </div>
    </a>
  </div>
</div>
